.add_to_go_popup,
.comments_popup,
.add_to_cart_popup,
.auth_popup,
.popup {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.add_to_go_popup,
.comments_popup,
.add_to_cart_popup,
.auth_popup,
.popup {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.show.add_to_go_popup,
.show.comments_popup,
.show.add_to_cart_popup,
.show.auth_popup,
.show.popup {
  opacity: 1;
  visibility: visible;
}

.friend-register label.required_label::after {
  content: '*';
  font-size: 16px;
  color: red;
  margin-left: 10px;
}

.sm_button.friend,
.sm_button.friend-footbtn {
  text-align: center;
}

.sm_button.friend a,
.sm_button.friend-footbtn a {
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.sm_button.friend a:hover,
.sm_button.friend-footbtn a:hover {
  text-decoration: none;
}

.friend-register label {
  margin-bottom: 10px;
}

.twitter-typeahead {
  display: block !important;
}

.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.tt-query {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-menu {
  width: 100%;
  margin: 6px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  text-align: right;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.main-menu-page .menu-tab {
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.5ms;
  position: absolute;
}

.main-menu-page .active.menu-tab {
  opacity: 1;
  visibility: visible;
}

.add_to_go_popup .small_popup,
.comments_popup .small_popup {
  width: 400px;
}

.add_to_cart_popup .menu-order {
  width: 400px;
}

.auth_popup .big_popup {
  width: 600px;
}

.popup .small_popup_home {
  width: 600px;
}