
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$background-popup-overlay: rgba(0, 0, 0, 0.4);

%center-flex{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}


%popup-wrap{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background-color: $background-popup-overlay;
  width: 100%;
  height: 100%;
  z-index: 10;
  @extend %center-flex;
  &.show{
    opacity: 1;
    visibility: visible;
  }
}

@import "resources/assets/sass/pages/page-friends";
@import "resources/assets/sass/pages/page-menu";
@import "resources/assets/sass/pages/page-checkout";

.auth_popup{
  @extend %popup-wrap;

  & .big_popup{
    width: 600px;
  }

}

.popup{

  @extend %popup-wrap;

  & .small_popup_home{
    width: 700px;
  }

}

.doller_price.home {
  top: 50px;
}